<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/core.avinertech.com/tests/Unit" />
        <option value="$PROJECT_DIR$/core.avinertech.com/tests/Feature" />
        <option value="$PROJECT_DIR$/tenant.avinertech.com/tests/Unit" />
        <option value="$PROJECT_DIR$/tenant.avinertech.com/tests/Feature" />
        <option value="$PROJECT_DIR$/core.avinertech.com/Services/admin.avinertech.com/tests/Unit" />
        <option value="$PROJECT_DIR$/core.avinertech.com/Services/admin.avinertech.com/tests/Feature" />
      </list>
    </option>
  </component>
</project>